In [1]:
import requests

from bs4 import BeautifulSoup
import pandas as pd

In [2]:
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
df = pd.DataFrame(columns=['Major','Early Career Pay','Mid Career Pay'])

In [4]:
url = "https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

In [5]:
page_button = soup.find_all(class_="pagination__btn--inner")
num_of_pages = int(page_button[-2].get_text())

In [6]:
for page in range(1, num_of_pages+1):
    page_url = f"{url}/page/{str(page)}"
    response = requests.get(page_url)
    soup = BeautifulSoup(response.text, "html.parser")
    data_rows = soup.find_all(class_="data-table__row")
    for row in data_rows:
        cell = row.select("span.data-table__value")
        data = {
            "Major": cell[1].get_text(),
            "Early Career Pay": float(cell[3].get_text()[1:].replace(",","")),
            "Mid Career Pay": float(cell[4].get_text()[1:].replace(",",""))
        }
        df = df.append(data, ignore_index=True)

In [7]:
df.head()

,Major,Early Career Pay,Mid Career Pay
0,Petroleum Engineering,"92,300.00","182,000.00"
1,Electrical Engineering & Computer Science (EECS),"101,200.00","152,300.00"
2,Applied Economics and Management,"60,900.00","139,600.00"
3,Operations Research,"78,400.00","139,600.00"
4,Public Accounting,"60,000.00","138,800.00"

In [8]:
df.shape

(834, 3)

In [9]:
high_start = df.sort_values("Early Career Pay", ascending=False)
high_start.head()

,Major,Early Career Pay,Mid Career Pay
1,Electrical Engineering & Computer Science (EECS),"101,200.00","152,300.00"
74,Physician Assistant Studies,"92,900.00","112,200.00"
0,Petroleum Engineering,"92,300.00","182,000.00"
49,Metallurgical Engineering,"79,100.00","117,700.00"
3,Operations Research,"78,400.00","139,600.00"

In [10]:
high_mid = df.sort_values("Mid Career Pay", ascending=False)
high_mid.head()

,Major,Early Career Pay,Mid Career Pay
0,Petroleum Engineering,"92,300.00","182,000.00"
1,Electrical Engineering & Computer Science (EECS),"101,200.00","152,300.00"
2,Applied Economics and Management,"60,900.00","139,600.00"
3,Operations Research,"78,400.00","139,600.00"
4,Public Accounting,"60,000.00","138,800.00"